src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd">
	<flow name="sendMessageToAWSSQS" doc:id="35136e66-65df-4b1c-b205-93f1682ff0c5" >
		<http:listener doc:name="Listener" doc:id="0694ba98-6303-4a6b-9458-609ed6d7ad41" config-ref="HTTP_Listener_config" path="/newRelic" />
		<validation:is-not-null doc:name="Check Null payload" doc:id="07ff9d33-77ab-4824-8924-420ae7ce98e8" config-ref="Validation_Config" value="#[payload.Name]" />
		<ee:transform doc:name="Transform Message" doc:id="ddbe52e6-7fde-4ae7-9044-6b120a3cd661" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	delaySeconds: 0,
	body: payload.Name,
	messageAttributes: {
		"AccountId": {
			"stringValue" : "667936803355",
			"dataType" : "String.AccountId"
		} as Object {
			class: "org.mule.extension.sqs.api.model.MessageAttributeValue"
		},
		"NumberId": {
			"stringValue" : "230.000000000000000001",
			"dataType" : "Number"
		} as Object {
			class : "org.mule.extension.sqs.api.model.MessageAttributeValue"
		}
	} as Object {
		class: "java.util.HashMap"
	}
} as Object {
	class: "org.mule.extension.sqs.api.model.Message"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<sqs:send-message doc:name="Send message to SQS" doc:id="936c47d7-d221-408a-9c72-157dfad1ba17" config-ref="Amazon_SQS_Configuration" queueUrl="https://sqs.us-east-1.amazonaws.com/667936803355/usecase1" />
		<logger level="INFO" doc:name="Logger" doc:id="e62820bb-73aa-4c76-85a3-a33bf1fd2cf4" message="#[payload]" />
	</flow>
	<flow name="receiveMessageFromSQSQueue" doc:id="55ef9813-66d4-4449-ad33-87cbd4172db2" >
		<sqs:receivemessages doc:name="Receive messages from AWS SQS" doc:id="26b99840-388f-4da6-8fe2-88ae3598dc2d" config-ref="Amazon_SQS_Configuration" queueUrl="https://sqs.us-east-1.amazonaws.com/667936803355/usecase1" />
		<logger level="INFO" doc:name="Logger" doc:id="c76aaa0d-e996-4691-b140-a33c9ef522a8" message="SQS message received" />
		<choice doc:name="Check the condtions " doc:id="13bf6c4f-991c-44f4-9c24-22e62e83b32e" >
			<when expression='#[payload == "Pratik"]' >
				<ee:transform doc:name="Transform Message" doc:id="1f43187a-d9e2-4116-bb9f-fbb1f7746dc2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "severity": "LOW",
    "eventType": "InsightsLogs",
    "env": "DEV",
    "messageId": uuid() as String,
    "muleAppName": "new-relic-insights",
    "intgCreationDate": now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.ss'Z'"},
    "payload": write(payload,'application/json'),
    "resultMessage": vars.errorMessage default ' ',
    "result": "Success",
    "endpoint": "/api/first"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Log success Information to New Relic" doc:id="d090fab5-d4bf-4762-bd62-b713d0e7c01f" message="#[{&#10;    &quot;severity&quot;: &quot;LOW&quot;,&#10;    &quot;eventType&quot;: &quot;InsightsLogs&quot;,&#10;    &quot;env&quot;: &quot;DEV&quot;,&#10;    &quot;messageId&quot;: uuid() as String,&#10;    &quot;muleAppName&quot;: &quot;new-relic-insights&quot;,&#10;    &quot;intgCreationDate&quot;: now() as String {format: &quot;yyyy-MM-dd'T'HH:mm:ss.ss'Z'&quot;},&#10;    &quot;payload&quot;: write(payload,'application/json'),&#10;    &quot;resultMessage&quot;: vars.errorMessage default ' ',&#10;    &quot;result&quot;: &quot;Success&quot;,&#10;    &quot;endpoint&quot;: &quot;/api/first&quot;&#10;    &#10;&#10;}]" />
			</when>
			<otherwise >
				<raise-error doc:name="Raise error for not matching condition" doc:id="1a6c3b79-e7a0-4ac8-a81c-fd3443302bc2" type='"CUSTOM:CUSTOM_ERROR"' description="no maching condition" />
			</otherwise>
		</choice>
	</flow>
</mule>
